@import "tailwindcss";

@font-face {
  font-family: "Neuve Grotesque";
  src: url("assets/fonts/NeuveGrotesque.ttf");
}

@font-face {
  font-family: "Tex";
  src: url("assets/fonts/Tex.otf");
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Ioskeley Mono";
  src: url("assets/fonts/IoskeleyMono-Regular.ttf");
}

@theme {
  --font-display: "Tex", sans-serif;
  --font-mono: "Ioskeley Mono", monospace;
}

body {
  background-color: #0f0f0f;
  color: #e0e0e0;
}

input[type="radio"] {
  accent-color: #f54900; /* Indigo */
}

/* Container scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: #181818;
  border-radius: 0px;
}

/* The actual draggable handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  cursor: pointer;
}
