@import "tailwindcss";

body {
  background-color: #010101;
  color: #e7e7e7;
}

/* Container scrollbar width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: #181818;
  border-radius: 5px;
}

/* The actual draggable handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  cursor: pointer;
}
